.nav {
  position: fixed;
  display: flex;
  background-color: rgb(248, 225, 135);
  padding: 30px 20px;
  box-shadow: 0 13px 27px -10px rgba(50, 50, 93, 0.2);
  width: 100%;
  top: 0;
  left: 0;
}

.nav div :not(.nav__setting a) {
  margin: 0px 8px;
  background-color: #f3ebcd;
  padding: 10px 20px;
  border-radius: 20px;
}

.nav a {
  text-decoration: none;
  color: rgb(49, 49, 49);
  text-transform: uppercase;
  font-size: 21px;
  text-align: center;
  font-weight: 600;
}

.nav__location a {
  font-size: 25px;
}

.nav__setting {
  position: absolute;
  right: 20px;
}
